@weather-view-height: 30%;
@graph-view-height: 40%;
@forecast-view-height:30%;
@max-height: 100%;
@max-width: 100%;

@body-background-color: #E7E7E7;
@main-container-background-color: #FFFFFF;

html{
	height: @max-height;
}

body{
	background-color: @body-background-color;
	height: @max-height;
}

.bordered{
	border-style: solid;
	border-width: 1px;
}

.center {
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	display:box;
	box-pack:center;
	box-align:center;
}

.main-container{
	background-color: @main-container-background-color;
	height: @max-height;
	.bordered;
}

.weather-view{
	height: @weather-view-height;
	.bordered;
}

.weather-view .temp-container{
	height: @max-height;
	.bordered;
}

.weather-view .temp-container .real-temp{
	height:70%;
	font-size: 120px;
}

.weather-view .temp-container .feels-like-temp{
	height:30%;
}

.weather-view .weather-image-container .weather-image{
	height: @max-height;
}

.weather-view .weather-details-container{
	height: @max-height;
	.bordered;
}

.weather-view .weather-details-container .weather-details{
	height:33%;
	.bordered;
}

.graph-view{
	height: @graph-view-height;
	.bordered;
	border-bottom: none;
}

.forecast-view{
	height: @forecast-view-height;
	//.bordered;
}

.forecast-view :hover{
	background-color: @body-background-color;
}

.forecast-view .forecast-container{
	height: @max-height;
	.bordered;
}

.forecast-view .forecast-container .day-of-week{
	height: 25%;
	//.bordered;
}

.forecast-view .forecast-container .weather-image{
	height: 50%;
}

.forecast-view .forecast-container .weather-range{
	height: 25%;
	//.bordered;
}

