@weather-container-height: 30%;
@graph-container-height: 40%;
@forecast-container-height:30%;
@background-color: #E7E7E7;

html{
	background-color: @background-color;
	height: 100%
}

body{
	height:100%;
	margin-left: 144px;
	margin-right: 144px;
	background-color: #FFFFFF;
}

.main-container{
	height:100%;
}

.bordered{
	border-style: solid;
	border-width: 1px;
}

.weather-view{
	height: @weather-container-height;
	.bordered;
}

.current-weather-temp-container{
	height: 100%;
}

.weather-view .current-weather-temp{
	height:70%;
	font-size: 160px;
	.bordered;
}

.weather-view .current-feels-like{
	height:30%;
	text-align: center;
	.bordered;
}

.image-container{
	width: 100%;
	height:100%;
}

.current-weather-image{
	.bordered;
	height: 100%;
	width: 100%;
}


.weather-view .current-weather-details-container{
	height:100%;
	.bordered;
}

.current-weather-details{
	height:33%;
	.bordered;
}

.graph-view{
	height: @graph-container-height;
	.bordered;
}

.graph-container{
	.bordered;
	height:100%;
	width:100%;
}

.forecast-view{
	height: @forecast-container-height;
	.bordered;
}

.forecast-containers{
	height:100%;
}

.day-container{
	margin: 10% 10% 10% 10%;
	height: 80%;
	width:80%;
	.bordered;
}

.day-container:hover{
	background-color: @background-color;
}

.day-container-title{
	text-align: center;
	height:20%;
	//.bordered
}

.day-container-image{
	height:60%;
	.bordered;
}

.day-container-range{
	text-align: center;
	height:20%;
	//.bordered
}

.center {
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
